p{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

.flexbody{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-forection:row;
  align-items:center;
  justify-content:center;  
}
.flexmiddle {
   -webkit-flex: 2 0 0;
   flex: 2 0 0;
}
.flexsides {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
}
