p{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align:center;
    vertical-align:middle;
}

.flexbody{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-forection:row;
  align-items:center;
  justify-content:center;
  text-align:center;
  vertical-align:middle;
}
.flexmiddle {
   -webkit-flex: 2 0 0;
   flex: 2 0 0;
}
.flexsides {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}
.flexleft{
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.flexright{
  -webkit-align-self: flex-start;
  alogn-self: flex-end;
}
.filterbar{
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}
