p{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align:center;
    vertical-align:middle;
}

.flexbody{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-forection:row;
  align-items:center;
  justify-content:center;
  text-align:center;
  vertical-align:middle;
}
.flexmiddle {
   -webkit-flex: 2 0 0;
   flex: 2 0 0;
}
.flexsides {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   align-items:center;
   justify-content:center;
   text-align:center;
   vertical-align:middle;
   
}
.filterbar{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  text-align:center;
  vertical-align:middle;
  
}
button{
  
  background-color:#1e66ae;
}
.tool{
  border-color:#194c80;
  display: -webkit-flex;
  display: flex;
  margin: 10px 0px 10px 0px;
  padding: 0px -50px 0px -50px;
  height: 50px;
  width:50px;
  background-color:#1e66ae;
  border-radius:10px;
  box-shadow: 2px 2px 3px #363636;
  align-items:center;
  justify-content:center;
  text-align:center;
  vertical-align:middle;
}
.picture{
  height:200px;
  background-color:#ae1e27;
}
.filter{
   margin: 10px 50px 10px 50px;
  padding: 10px 50px 10px 50px;
}
.header{
  background-image: url("https://user-images.githubusercontent.com/16003525/33234973-ad15f752-d1ec-11e7-9224-7046c95b540a.png");
  height:200px;
  
}
