<!DOCTYPE html>
<html >
 <head>
  
  
  <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="jquery-3.3.1.min.js"></script> 
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->  

  
 
 </head>
 
<body ng-app="RealTest" ng-controller="TestController as test">
 <!-- needs to be different variable like RealTest? -->
 
 
 <div class="header" > 
  <div class="title">
  
  Image Cosmology 
  </div>
  
  </div> 
 <div class="intro" >  
  <h1> A new way to view your photographic masterpeices. </h1>
  
  Welcome to Image Cosmology!  
  Here you can upload an image, then edit it!  Add filters and affects to your heart's content!    </div>

 <div class="flexbody">  
  
  
  
 <div class="flexsides"> 
  <button id = "heart" class="tool"> A </button>
  <button id = "square" class="tool"> B </button>
  <button id = "flower" class="tool"> C </button>
 </div>
 <div class="flexmiddle">   
  <div class="uploadbutton"> Upload picture </div>
  <div class="picture"> 
   <!--<img ng-src = "{{test.picture}}">-->
   Picture </div>
  <div class="filterbar"> 
    <button class="filter"  style="background-color: grey"> Grey </button>
    <button class="filter" style="background-color: blue"> Blue </button>
    <button class="filter"  style="background-color: red"> Red </button>
  </div>
 </div>
 <div class="flexsides"> 
  <button ng-show="test.details[1].succeed" class="tool"> A </button>
  <!-- again RealTest.details.succeed? -->
  <button class="tool"> B </button>
  <button class="tool"> C </button>
 </div>
  
  <div ng-repeat = "detail in realTest.details">
   <p>{{detail.name | uppercase}}</p>
    <p>{{detail.testNum}}</p>
   <p> {{detail.price | currency}}</p>
   <!-- currency is a filter -->
  </div>
 
  
 
  
 </div>
 <section>
  <ul class= "nav nav-pills">
   <li> <a href ng-click="tab = 1">Description </a> </li>
    <li> <a href ng-click="tab = 2">Tools </a> </li>
    <li> <a href ng-click="tab = 3">Picture</a> </li>
  </ul>
  {{tab}}
 </section>

<!-- <script src="jquery.min.js"></script>
 <script src="application.js"></script> -->
 
 <div class "container">
    <div class "icons">
        <img alt="heartAppear" id="heartAppear" style="display: none" height="50" width="50" src="https://user-images.githubusercontent.com/16003525/33234973-ad15f752-d1ec-11e7-9224-7046c95b540a.png"/>
    </div>
</div>
 


  
<script  type="text/javascript" src="test.js"></script> 
  <script type="text/javascript" src="script.js"></script>
  
</body>

 
 
 
</html>



